<div class="carousel">
    <ul ng-init="carouselValue = carouselItems;carouselIndex = 0" rn-carousel-loop="rn-carousel-loop" rn-carousel="rn-carousel" rn-carousel-controls="rn-carousel-controls" rn-carousel-index=" " class="image">
        <li ng-repeat="itemGroup in carouselValue track by $index"  class="rn-carousel-home-page">
            <a ng-repeat="(key, item) in itemGroup track by key" class="item">
                <div class="item">
                    <div ng-if="item.tag" class="TAG tag-carousel-home-page">
                        <div class="text">{{::item.tag}}</div>
                    </div>
                    <img class="img" ng-src='{{::item.image_url}}'>
                    <div class="details details-carousel-home-page">
                        <div>{{::item.name}}</div>
                        <div></div>
                        <ul>
                            <li>Rs {{::item.offer_price | number}}</li>
                            <li ng-if="item.offer_price != item.actual_price" class="col strike">Rs {{::item.actual_price | number}}</li>
                            <li ng-if="item.actual_price - item.offer_price && (((item.actual_price - item.offer_price)/ item.actual_price) * 100 &gt; 1)" class="last discount">{{::((item.actual_price - item.offer_price)/ item.actual_price) * 100 | number : 0}}%</li>
                        </ul>
                    </div>
                </div>
            </a>
            <div ng-click="prevSlide();testSharingFunction()" class="arrow-left"><i class="fa fa-angle-left"></i></div>
            <div ng-click="nextSlide();" class="arrow-right"><i class="fa fa-angle-right"></i></div>
        </li>
    </ul>
</div>